#menubar
{
    justify-content:center;
}
ul li
{
    text-transform:uppercase;
    display:inline;
    margin-right:-5px;
    font-size:1.8rem;
    font-family:monospace;
    font-weight:bolder;
    padding:30px;
    background:rgb(50, 163, 255);
    color:rgb(255, 255, 255);
    cursor:pointer;
    transition:all 0.3s;
}
ul li:hover
{
    background:rgb(0, 131, 237);
}
body
{
    background:rgb(198, 229, 255);
}