.label
{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center; 
    text-align:center;
    font-size:2rem;
    height: 100px;
    width: 300px;
    font-family:monospace;
    margin: 0.5em;
    padding: 0.5em;
}
#menubar{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center; 
    text-align:center;
    height:20px;
    font-size:2rem;
    font-family:monospace;
    margin: 0.5em;
    padding: 0.5em;
}
#menubar > div{
    margin: 0.5em;
    padding: 0.5em;
}
.matrix
{
    /* display:flex; */
    text-align:center;
    justify-content:center;
    align-items:center;
    height:120px;
    width:120px;
    border-width:5px;
    border-style:solid;
    border-color:rgb(102,0,51);
    /* padding:5px;
    background-clip:content-box; */
    font-size:2.7rem;
    font-family:monospace;
    font-weight:bolder;
}
.board
{
    display:flex;
    border-collapse:collapse;
    justify-content:center;
    align-items:center;
    /* height:100vh; */
}

body{
    display: flex;
    width: 100vw;
    justify-content: center;
}

body > div{
    max-width: 800px;
}